# Requires-Python >=3.12,<3.13
streamlit==1.32.0
groq==0.11.0
pytube==15.0.0
youtube-transcript-api==0.6.2
python-dotenv==1.0.1
requests==2.31.0
gTTS==2.5.1
httpx==0.24.1
urllib3==1.26.15
pillow==9.5.0 